@import "../node_modules/mini.css/dist/mini-nord.min.css";

form {
  min-width: 300px;
}

.center-page {
  height: 100%;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.centre {
  text-align: center;
}

.x-large {
  font-size: 50px;
}
.xx-large {
  font-size: 100px;
}
