@import "../node_modules/mini.css/dist/mini-nord.min.css";
@import "@uploadthing/react/styles.css";

/* form {
  min-width: 300px;
} */

.center-page {
  height: 100%;
}

.card-index {
  height: 470px;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre {
  text-align: center;
}

.x-large {
  font-size: 50px;
}
.xx-large {
  font-size: 100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.centre-btn {
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  background-color: rgb(245, 245, 245);
  width: 100%;
}

.btn-right {
  float: right;
  text-align: center;
  vertical-align: middle;
  padding-top: 9px;
}

.section-index {
  min-height: 235px;
}

.detail-image {
  height: 50vh;
}

.field_set {
  border-color: #2e3440;
  border-style: solid;
  padding-bottom: 40px;
}

.navlink-margin {
  margin-top: 10px;
}

.header-border {
  border-width: 2px;
}

.align-items-center {
  margin: auto;
  float: none;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-home {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 53px;
}

.section-home {
  min-height: 175 px;
}

.detail-imdiv {
  margin: auto;
  align-items: center;
  display: block;
  display: flex;
  justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-slab-text {
  font-family: "Roboto Slab", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
