@import "../node_modules/mini.css/dist/mini-nord.min.css";
@import "@uploadthing/react/styles.css";

/* form {
  min-width: 300px;
} */

.center-page {
  height: 100%;
}

.card {
  min-height: 470px;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre {
  text-align: center;
}

.x-large {
  font-size: 50px;
}
.xx-large {
  font-size: 100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.centre-btn {
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  background-color: rgb(245, 245, 245);
  width: 100%;
}

.btn-right {
  float: right;
  padding-top: 10px;
}

.section {
  min-height: 235px;
}

.detail-image {
  max-height: 50vh;
}
